<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
      <title></title>

      <script defer src="../../js/jquery-3.7.1.min.js"></script>
      <script defer src="../../js/index.js"></script>
   </head>
   <body>
      <h1>{{locale.title}}</h1>
      <section id="mods">
         <h2>{{locale.mods}}</h2>
      </section>
      <button>{{locale.new_mod}}</button>
      <div id="data" style="display: none;" data-language="{{locale.language}}"></div>
   </body>
</html>
