<!DOCTYPE html>
<html lang="{{locale.language}}">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
      <title></title>

      <script defer src="../../js/jquery-3.7.1.min.js"></script>
      <script defer src="../../js/new.js"></script>
   </head>
   <body>
      <input type="text" id="name" placeholder="{{locale.mod_name}}" />
   </body>
</html>
